#page {
    display: flex;
    justify-content: space-around;
}
#maze {
    width: 35vw;
    height: 35vw;
    background-color: white;
    padding: 0;
    border: 5px solid black;
}
h1 {
    text-align: center;
    background-color: #AB51B3;
    padding: 20px;
    margin: 0;
    margin-bottom: 10px;
    font-size: 2.3em;
}
body {
    background-color: orange;
    margin: 0;
    font-size: 1.5em;
    
}
div {
    padding: 10px;
}
#page input {
    float: right;
    margin: 5px;
}
#newGameBtn {
    margin-left: 87px;
}
#solveGameBtn {
    margin-left: 87px;
}

form {
    padding-left: 5vw;
}

.level {
    width: 100%;
    height: 100%;
    padding: 0;
    display: none; 
     
}

.row {
    width: 100%;
    padding: 0;
    display: flex;
}

.col {
    height: 100%;
    padding: 0;
    border: 2px solid black;
}

.upAndDown {
    background-image: url(pngegg.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
} 

.up {
    background-image: url(up.png);
    background-size: 40%;
    background-repeat: no-repeat;
    background-position: center;
}

.down {
    background-image: url(down.png);
    background-size: 40%;
    background-repeat: no-repeat;
    background-position: center;
}