#page {
    display: flex;
    justify-content: space-around;
}
#maze {
    width: 40vw;
    height: 40vw;
    background-color: white;
    padding: 0;
    border: 5px solid black;
    position: relative;
}
h1 {
    text-align: center;
    background-color: #AB51B3;
    padding: 20px;
    margin: 0;
    margin-bottom: 10px;
    font-size: 2.3em;
}
body {
    background-color: orange;
    margin: 0;
    font-size: 1.5em;
    
}
div {
    padding: 10px;
    box-sizing: border-box;
}
#page input {
    float: right;
    margin: 5px;
}
#newGameBtn {
    margin-left: 130px;
}
#solveGameBtn {
    margin-left: 130px;
}

#loadBtn {
    margin-left: 130px;
}

form {
    padding-left: 5vw;
}

.level {
    width: 100%;
    height: 100%;
    padding: 0;
    display: none; 
    
}

.row {
    width: 100%;
    padding: 0;
    display: flex;
}

.col {
    height: 100%;
    padding: 0;
    border: 2px solid black;
}

.upAndDown {
    background-image: url(../images/pngegg.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
} 

.up {
    background-image: url(../images/up.png);
    background-size: 30%;
    background-repeat: no-repeat;
    background-position: center;
}

.down {
    background-image: url(../images/down.png);
    background-size: 30%;
    background-repeat: no-repeat;
    background-position: center;
}

input {      
    border: 1px solid #333;
  }

  /* The style for invalid fields */
  input:invalid {
    border-color: #900;
    background-color: #fdd;
  }

  input:focus:invalid {
    outline: none;
  }

  /* The style of our error messages */
  .error {
    color: white;
    background-color: #900;
    padding: 0;
    border-radius: 5px;
    font-size: 90%;
  }

  .error.active {
    padding: 2px;
  }

img {
    position: absolute;
}

